
<section class="h-100">
    <div class="container-fluid" style="background-image: url(../../assets/images/firstpage-bg2.jpg); background-size: cover; background-repeat: no-repeat;height: 100vh; margin: 0%;padding: 0;background-position:bottom center;"  >
      <!-- <h1 class="mb-0 pb-0"></h1>
      <div class="row-cols-auto d-flex justify-content-center align-items-center" style="margin-top: 100px;">
        <div class="col-md-6">
                <div class="card"  style="border-radius: .25rem;border-color: rgb(243, 241, 240);border-width: 0px; border-radius: 40px;">
                  <div class="row g-0">
                    <div class="col-md-6 d-none d-md-block">
                      <img src="../../assets/images/cardimage3.png" alt="home form" class="img-fluid"
                      style="border-top-left-radius: 40px; border-bottom-left-radius: 40px; border-top-right-radius: .18rem; border-bottom-right-radius: .18rem;height:450px; width:500px" />
              </div>
              <div class="col-md-6 align-items-center bg-transparent" style=" border-top-right-radius: 40px; border-bottom-right-radius: 40px; ">
                <div class="card-body">
                  <form>
                    <div class="col align-items-center">
                    </div>
                    <div class="card-body">
                      <button style="margin-top: 15%;" (click)="login(user)" class="button-27" type="button"
                      >Login as user</button><br>
                      <button style="margin-top: 20%;" (click)="login(vendor)" class="button-27" type="button"
                      >Login as vendor</button><br>
                      <button style="margin-top: 21%;" (click)="signup()" class="button-27" type="button"
                      >Sign Up</button>
                    </div>
                  </form>
                </div>
              </div>
              </div>
              </div>
              </div>
              </div> -->
              <div class="form-box">
                <div class="header-text">

                  <button style="margin-top: 0%;" (click)="login(user)" class="button-27" type="button"
                  >Login as user</button><br>
                  <button style="margin-top: 7%;" (click)="login(vendor)" class="button-27" type="button"
                  >Login as vendor</button><br>
                  <button style="margin-top: 9%;" (click)="signup()" class="button-27" type="button"
                  >User Signup </button>
                  <button style="margin-top: 10%;" (click)="vendorSignup()" class="button-27" type="button"
                  >Vendor Signup </button>
              </div>
              </div>
              </div>
            </section>




























